{% extends 'base.html' %}
{% block title %}Downtown | Orangeliquid{% endblock %}
{% block content %}

<div class="hero-border container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="static/images/downtown/dtc.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Downtown Columbus skyline"
                 width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 txt-main-color">Columbus Metropolitan Area</h1>
            <p class="lead">The Columbus Metropolitan Area, situated in the heart of Ohio, is renowned for its dynamic
                blend of cultural diversity and economic vitality. Amidst this vibrant landscape,
                numerous coffee shops and cafes dot the city, providing versatile spaces for remote work, casual
                gatherings, and the exploration of local flavors.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="https://en.wikipedia.org/wiki/Columbus_metropolitan_area,_Ohio"
                   class="btn btn-primary btn-lg px-4 me-md-2" role="button">Read More</a>
            </div>

        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container">
    <div class="col-lg-6 text-center">
        <h2 class="display-6 fw-bold text-body-emphasis lh-1 mb-5">
            <a href="https://parable.coffee/" class="text-decoration-none">Parable Cafe</a>
        </h2>
    </div>
</div>

<div class="container">
    <div class="carousel-box">
        <div id="cafeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Cafe Location 1 -->
                <div class="carousel-item active">
                    <img src="static/images/downtown/parable1.jpg" class="d-block w-100 carousel-image" alt="Parable Cafe image 1">
                </div>
                <div class="carousel-item">
                    <img src="static/images/downtown/parable2.jpg" class="d-block w-100 carousel-image" alt="Parable Cafe image 2">
                </div>
                <div class="carousel-item">
                    <img src="static/images/downtown/parable3.jpg" class="d-block w-100 carousel-image" alt="Parable Cafe image 2">
                </div>
                <div class="carousel-item">
                    <img src="static/images/downtown/parable4.jpg" class="d-block w-100 carousel-image" alt="Parable Cafe image 2">
                </div>
                <!-- Add more carousel items here if needed -->
            </div>
            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cafeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cafeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<section class="container">
    <article class="blog-post">
        <div class="txt-main txt-main-color summary-border">
            <h2 class="display-5 body-emphasis mb-3">Parable Cafe Summarized</h2>
            <p>A purposeful cafe focusing on its employees and community, we operate as a gratuity-free establishment, dedicated to providing thoughtful and creative offerings. Our goal is to establish a modern space offering artisanal coffee, pastries, natural wine, and craft cocktails.</p>
        </div>
        <div class="my-take">
            <img class="custom-icon rounded-circle" src="static/icons/orange_alien.ico" alt="Orange Alien Icon">
            <p><strong>Nestled in the heart of our community, this intentional cafe is my go-to spot for a thoughtful and creative experience. As a customer, I appreciate the gratuity-free environment, making each visit feel genuinely enjoyable. Imagine a contemporary haven where the rich aroma of artisanal coffee pairs seamlessly with the enticing scent of freshly baked pastries. Beyond the ordinary, the menu offers exceptional coffee, natural wines, and craft cocktails. With free WiFi enhancing my experience, every sip becomes a moment of indulgence, celebrating community and creativity in this vibrant space.</strong></p>
        </div>
        <h3>Time of Business</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Days</th>
                    <th>Open</th>
                    <th>Close</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Monday/Tuesday</td>
                    <td>7am</td>
                    <td>5pm</td>
                </tr>
                <tr>
                    <td>Wednesday-Sunday</td>
                    <td>7am</td>
                    <td>10pm</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <p class="lead">Located at: <strong>149 S High St, Columbus, OH 43215</strong></p>
        </div>
    </article>
</section>


<div class="b-example-divider"></div>

{% endblock %}