<div class="container">
    <footer class="py-3 my-4">

        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <div class="text-center">
            <a href="{{ url_for('home') }}" class="text-body-secondary button-color">Home</a>
            <span class="mx-2">|</span>
            <a href="#" class="text-body-secondary button-color">About</a>
            <p class="text-center text-body-secondary copyright button-color">© 2024 Orangeliquid
                <a href="https://github.com/Orangeliquid">
                    <img src="static/icons/orange_alien.ico" alt="Bootstrap" width="42" height="42"
                         class="rounded-circle border border-theme me-3">
                </a>
            </p>
        </div>

    </footer>
</div>
