{% extends 'base.html' %}
{% block title %}North | Orangeliquid{% endblock %}
{% block content %}

<div class="hero-border container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="static/images/north/clintonville.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Clintoville Historic sign"
                 width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 txt-main-color">North Columbus</h1>
            <p class="lead">Nestled within Columbus, Ohio, the neighborhood of Clintonville stands as a vibrant hub celebrated for its rich tapestry of cultural diversity and economic vibrancy. Surrounded by tree-lined streets and a welcoming community spirit, Clintonville offers a charming backdrop for exploring local cafes and coffee shops. These establishments not only provide ideal settings for remote work but also serve as cozy spaces for casual gatherings.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="https://en.wikipedia.org/wiki/Clintonville_(Columbus,_Ohio)"
                   class="btn btn-primary btn-lg px-4 me-md-2" role="button">Read More</a>
            </div>

        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container">
    <div class="col-lg-6 text-center">
        <h2 class="display-6 fw-bold text-body-emphasis lh-1 mb-5">
            <a href="https://www.globalgallerycolumbus.com/" class="text-decoration-none">Global Gallery + Cafe</a>
        </h2>
    </div>
</div>

<div class="container">
    <div class="carousel-box">
        <div id="cafeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Cafe Location 1 -->
                <div class="carousel-item active">
                    <img src="static/images/north/gg1.jpg" class="d-block w-100 carousel-image" alt="Global Gallery + Cafe image 1">
                </div>
                <div class="carousel-item">
                    <img src="static/images/north/gg2.jpg" class="d-block w-100 carousel-image" alt="Global Gallery + Cafe image 2">
                </div>
                <div class="carousel-item">
                    <img src="static/images/north/gg3.jpg" class="d-block w-100 carousel-image" alt="Global Gallery + Cafe image 3">
                </div>
                <div class="carousel-item">
                    <img src="static/images/north/gg4.jpg" class="d-block w-100 carousel-image" alt="Global Gallery + Cafe image 4">
                </div>
                <!-- Add more carousel items here if needed -->
            </div>
            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cafeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cafeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<section class="container">
    <article class="blog-post">
        <div class="txt-main txt-main-color summary-border">
            <h2 class="display-5 body-emphasis mb-3">Global Gallery + Cafe Desciption</h2>
            <p>"Serving fair-trade coffee, this quaint spot offers pastries & light fare such as salads & quiches."</p>
        </div>
        <div class="my-take">
            <img class="custom-icon rounded-circle" src="static/icons/orange_alien.ico" alt="Orange Alien Icon">
            <p><strong>As you can see from the description above, the establishment is very minimal in description. This can be deceiving...Here, I'll add a bit more; Local coffee roasted and served in tandem with an art gallery sitauted within walking distance of a local farmers market. The seating may be a bit tight for remotely working but, there is plenty of outdoor space for when the weather is glowing! Clock some hours outside with locally roasted coffee and take in the all the fresh air and rustic architecture Clintonville can offer!</strong></p>
        </div>
        <h3>Time of Business</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Days</th>
                    <th>Open</th>
                    <th>Close</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Friday/Saturday</td>
                    <td>8am</td>
                    <td>7pm</td>
                </tr>
                <tr>
                    <td>Sunday-Thursday</td>
                    <td>8am</td>
                    <td>7pm</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <p class="lead">Located at: <strong>3535 N High St, Columbus, OH 43214</strong></p>
        </div>
    </article>
</section>


<div class="b-example-divider"></div>

{% endblock %}